body {
    height: 1000px; 
}


.tinggi {
    height: 380px; 
    /* position: fixed;
    width: 100%;  */
    /* z-index: -4;  */
}

/* Style the navigation menu */
.topnav{
    overflow: hidden;
    /* background-color: black; */
    position: relative;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    box-shadow: 0 2px 5px rgb(136, 121, 121);
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
 .togel ul {
    /* display: block; */
    background-color: red;
    width: 11%; 
    /* display: flex; */
    /* flex-direction: column; */
    color: white; 
    position: absolute;
    /* margin-top: 50px;  */
  }

.togel ul li {
    list-style: none;
    margin-bottom: 10px;
}

.togel ul li a {
    text-decoration: none;
    color: white; 
    margin-left: -20px; 
}

  
#myLinks {
    display: none; 
}
  
  /* Style navigation menu links */
  /* .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  } */
  
/* style for toogle link */

  /* Style the hamburger menu */
  .topnav a.icon {
    background: red;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 10px 14px;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
  }